<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--heading code-->
    <h1 style="color: #495E57">menu page of testapp in newproject directory </h1>
    <table style = "border: 1px solid black;">
        {%for item in content.mains%}
        <tr>
            <td style="border: 1px solid black;">{{item.name}}</td>
            <td style="border: 1px solid black;">{{item.price}}</td>
        </tr>
        {%endfor %}
    </table>

    {% load static %}
    <!--<img src="{% static 'Desserts.jpg' %}"> -->
</body>
</html>